<!-- Brand Start -->
        <div class="brand">
            <div class="container-fluid">
                <div class="brand-slider">
                    <div class="brand-item"><img src="{{ url_for('static', filename='image/brand-1.png') }}" alt=""></div>
                    <div class="brand-item"><img src="{{ url_for('static', filename='image/brand-2.png') }}" alt=""></div>
                    <div class="brand-item"><img src="{{ url_for('static', filename='image/brand-3.png') }}" alt=""></div>
                    <div class="brand-item"><img src="{{ url_for('static', filename='image/brand-4.png') }}" alt=""></div>
                    <div class="brand-item"><img src="{{ url_for('static', filename='image/brand-5.png') }}" alt=""></div>
                    <div class="brand-item"><img src="{{ url_for('static', filename='image/brand-6.png') }}" alt=""></div>
                </div>
            </div>
        </div>
        <!-- Brand End -->